.ant-btn-primary{
  margin: 5px 10px;
}
.delete{
  position: absolute;
  top:0px;
  left:100px;
  z-index: 100;
}
.showImg{
  position: relative;
}
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
