.secondHouseSellLoanApply_custType{
  padding: 5px 44px;
}
.secondHouseSellLoanApply_custType_label{
  display: block;
  padding: 5px;
}
.secondHouseSellLoanApply_custType_content{
  height: 60px;
  padding: 5px 0px;
}
