.anzhu_msgInfo_title{
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.anzhu_msgInfo_timer{
  display: block;
  font-size: 16px;
}
/*.anzhu_msgInfo_content{
  display: block;
  font-size: 16px;
}*/
.anhzu_msg_content{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 450px;
}
.anzhu_bottom_area{
  padding-top:20px;
}
