.storeSelledDetails .row{
  padding: 5px 0
}
.storeSelledDetails .houseImgs .ant-col-2{
  line-height: 150px
}
.storeSelledDetails .houseImgs .ant-col-22{
white-space: nowrap; overflow-x: auto;width:800px;
}
