.basicStatistics .cards{
  background-color: #ECECEC;
  padding: 20px;
}
.basicStatistics .counts,.basicStatistics .money,.basicStatistics .houseCounts{
  line-height: 66px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.basicStatistics .commission{
  font-weight: bold;
}
.basicStatistics .ant-card{
  height: 168px
}
.basicStatistics .businessData{
  background: #fff;
}
.basicStatistics .dealData{
  background: #fff;
}
.basicStatistics .searchForm{
  margin: 20px 0;
  padding: 20px 0 0 10px;
}
.basicStatistics .charts{
  margin: 30px 0;
}
.basicStatistics .cumulativeDeal{
  font-size: 18px;
  padding-left: 140px;
  margin-bottom: 20px;
}
.basicStatistics .searchForm .searchItem{
  margin-left: 10px;
}
.basicStatistics .searchForm .searchItem_details{
  margin-left: 20px;
}
.basicStatistics .count{
  background: #85c1db;
  color: #fff;
  padding:5px 10px;
  font-size: 14px;
  height: 34px;
}
.basicStatistics .house_count{
  background: #f7877a;
  color: #fff;
  padding:5px 10px;
  font-size: 14px;
  height: 34px;
}
.basicStatistics .title{
  background: #85DA9F;
  color: #fff;
  padding:5px 10px;
  font-size: 14px;
  height: 34px;
}
.basicStatistics .title .time{
  float: right;
}
.basicStatistics .content{
  text-align: center;
  height: 200px;
  line-height: 200px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 900;
}
.basicStatistics .houseResourceCounts{
  background: #fff;
  height: 200px;
}
.basicStatistics .houseResourceCounts_row{
  padding-top: 66px;
}
.basicStatistics .houseResourceCounts_row .details{
  font-size: 14px;
}
#barCharts{
  height: 300px;
}
