.dx_showCol{
  padding: 0 10px;
}
.dx_showCol .dx-panel .dx-panel-nofooter-content{
  height: 154px;
}
.secondHouseSellDownPaymentAdd{
  position: relative;
}
.payDownPayment{
  position: relative;
}
