.shSellDownPaymentRefundApply .dxSteps {
    position: relative;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.shSellDownPaymentRefundApply .dx_upload_pic_list{
  max-width:inherit;
  /*padding: 20px;*/
  height: inherit;
}
