.itemName{
  display: inline-block;
  font-size: 14px;
  /*margin:0 5px;*/
}
.ant-col-1{
  padding:0px 0px 0px 0px!important;
  margin: 0px 0px 0px 0px!important;
  width: 10px;
}
.ant-input-number{
  width: 119px
}
