.cascader{
  display: block;
  margin-bottom: 10px;
}
.mapShow{
  border: 1px solid #ddd;
  height: 200px;
  margin-top: 10px;
}
.createbutton{
  text-align: right;
}
.louPan{
  position: relative;
}
