.secHandRentingDetails .row{
  padding: 5px 0
}
.secHandRentingDetails .houseImgs .ant-col-2{
  line-height: 150px
}
.secHandRentingDetails .houseImgs .ant-col-22{
white-space: nowrap; overflow-x: auto;width:800px;
}
.intentsAgreements{
  display:inline-block;
  width: 150px;
  height: 120px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
