.projectManagement .inventoryControl{
  cursor: pointer;
  color: #009900
}
.projectManagement .ant-input-group-addon{
  font-size: 12px;
}
.projectManagement .ant-tabs{
  background-color: #FFF;
}
.newHouseProject>.dxSteps{
  width: 750px;
  margin: 0 auto;
}
.projectManagement .ant-table .operation .edit{
  background:none;
}
.projectManagement .status .waitAduit{
  color: #090;
  cursor: pointer;
}
.projectManagement .status .reject{
  color: #e4393c;
  cursor: pointer;
}
.projectManagement .operation .edit{
  margin: 0 5px;
  color: #090;
  cursor: pointer;
}
.projectManagement .operation .details{
  margin: 0 5px;
  color: #090;
  cursor: pointer;
}
.createNewHouse  .map-area{
  border:1px solid #ddd;
  width: 702px;
  height: 273px;
  /*background: #f00;*/
  margin:8px 0px;
  position:relative;
}
.projectManagement .details{
  margin: 0 5px;
  color: #090;
  cursor: pointer;
}
.projectManagement .offlineAppliy .waitAduit{
  color: #090;
  cursor: pointer;
  display: block;
}
.projectManagement .offlineAppliy .reject{
  color: #e4393c;
  cursor: pointer;
  display: block;
}
.projectManagement .ant-modal-wrap {
  z-index: 1
}
.createProjectPic .dx_upload_pic_list{
  max-width: inherit;
  height: inherit;
}
.projectPublishApplyModal .dxSteps{
  max-width: 350px;
  margin: 0px auto;
}
