.pay{
  color: #FF6600;
}
.youhui{
  color: #fff;
  background-color: #FF6600;
  padding: 2px 5px;
}
.margin{
  margin: 5px;
}
.tcLogo{
  width: 150px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
