.anzhu_menu_icon_mentor{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 20px;
  position: absolute;
  top: 11px;
  left: 22px;
}
.anzhu_menu_title{
  margin-left: 23px;
  line-height: 42px;
}
.ant-layout-aside>.ant-layout-sider>.ant-layout-logo-mentor{
  background-repeat: no-repeat;
  background-position:40px center;
  display: block;
  height: 50px;
  position: relative;
  top:0;
  z-index: 100;
  font-size: 30px;
  color: #FFF;
  background-color: #424F62;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
.ant-layout-aside>.ant-layout-sider>.ant-menu{
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 50px;
  height: 100%;
  color: #9c9fa1;
  background-color: #424F62;
}
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-submenu-inline>.ant-menu-submenu-title,
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-item{
  background-color: #424f62;
  color: #9c9fa1;
  font-size: 16px;
  border-left: 3px solid transparent;
}
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-submenu-inline>.ant-menu-submenu-title:hover,
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-submenu-selected>.ant-menu-submenu-title{
  background-color: #363f50;
  color: #FFF;
  /*border-left-color:#3C8DBC;*/
}
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-item-selected,
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-item:hover{
  background-color: #2C3B41;
  color: #FFF;
  /*border-left-color:#3C8DBC;*/
}
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-submenu-inline>.ant-menu{
  background-color: #2C3B41;
  color: #9c9fa1;
}
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-submenu-inline>.ant-menu>.ant-menu-item{
  background-color: #2D3645;
  color: #9c9fa1;
  font-size: 14px;
}
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-submenu-inline>.ant-menu>.ant-menu-item:hover{
  background-color: #29313C;
  color: #FFF;
}
.ant-layout-aside>.ant-layout-sider>.ant-menu>.ant-menu-submenu-inline>.ant-menu>.ant-menu-item-selected{
  background-color: #29313C;
  color: #FFF;
}
